html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("../resources/images/bg2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.frame {
  border: 25px solid transparent;
  border-image: url(../resources/images/frame.png) 30 round;
}

.profile-title {
  color: white;
}

hr {
  background-color: white;
}

.class-preview {
  border: 1px solid gray;
  padding: 5%;
  background-color: #1e1e1e;
}

